<!-- ko with: home -->
<div class="row">
    <div class="col">
        <h2>WaveCell SMS Api Test</h2>
        <p>This section shows you the WaveCell SMS Api Test.</p>
        @Html.ActionLink("Click Here To Proceed", "WaveCell")
    </div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col">
        <h2>SignalR Chat</h2>
        <p>This section shows you basic utilization of SignalR.</p>
        @Html.ActionLink("Click Here To Proceed", "SignalR")
    </div>
</div>
<!-- /ko -->
